{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Personne import - finished</h1>

    <pre>{{ report }}</pre>

        <ul class="record_actions">
    <li>
        <a href="{{ path('personne') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
